        <div class="about-the-author" style="width: 80%;">
          <h3 class="heading"><span class="yel">А</span>ВТОРИ</h1>
          <div style="margin-top:4px; float:left;">
            <div class="right_news">
              <div class="more_lead_img" style="width:100px; margin: 4px 0px 0px 2px;">
                <img class="center-cropped" src="../assets/img/kd4.PNG" alt="Кристиан Димитров">
              </div>
              <div class="right_title" style="width:auto; background:none; margin-left:104px; margin-right:2px; float:none; font-size:16px;">
                <a href="https://www.facebook.com/kdimitrov12"><i class="med-small fi-social-facebook"></i> Кристиан Димитров</a><br>
                <span style="color:#bbb; font-size:14px;">СИ 3 курс</span>
                <span style="color:#bbb; font-size:12px;"><i class="med-small fi-mail"></i> kristiandimitrov12@gmail.com
                  <div style="display:inline-block">
                    <i class="med-small fi-telephone"></i>
                    +359 884 710 782
                  </div>
                </span>
              </div>
              <div style="padding:6px; background:#191919; color:#bbb;">
                <p>Кристиан Димитров е ебааати пича.</p>
              </div>
            </div>
            <div class="right_news">
              <div class="more_lead_img" style="width:100px; margin: 4px 0px 0px 2px;">
                <img class="center-cropped" src="#" alt="Мирослав Стефанов">
              </div>
              <div class="right_title" style="width:auto; background:none; margin-left:104px; margin-right:2px; float:none; font-size:16px;">
                <a href="https://www.facebook.com/miro.stefanov.10"><i class="med-small fi-social-facebook"></i> Мирослав Стефанов</a><br>
                <span style="color:#bbb; font-size:14px;">СИ 3 курс</span>
                <span style="color:#bbb; font-size:12px;"><i class="med-small fi-mail"></i>
                  <div style="display:inline-block">
                    <i class="med-small fi-telephone"></i>
                    
                  </div>
                </span>
              </div>
              <div style="padding:6px; background:#191919; color:#bbb;">
                <p></p>
              </div>
            </div>
            <div class="right_news">
              <div class="more_lead_img" style="width:100px; margin: 4px 0px 0px 2px;">
                <img class="center-cropped" src="#" alt="Георги Димитров">
              </div>
              <div class="right_title" style="width:auto; background:none; margin-left:104px; margin-right:2px; float:none; font-size:16px;">
                <a href="https://www.facebook.com/profile.php?id=100002611632570"><i class="med-small fi-social-facebook"></i> Георги Димитров</a><br>
                <span style="color:#bbb; font-size:14px;">СИ 3 курс</span>
                <span style="color:#bbb; font-size:12px;"><i class="med-small fi-mail"></i>
                  <div style="display:inline-block">
                    <i class="med-small fi-telephone"></i>
                    
                  </div>
                </span>
              </div>
              <div style="padding:6px; background:#191919; color:#bbb;">
                <p></p>
              </div>
            </div>
          </div>
        </div>

                