        <div class="about-the-author">
          <h3 class="heading"><span class="yel">А</span>ВТОРИ</h1>
          <div class="panel">
            <div class="right_news">
              <div class="more_lead_img">
                <img class="center-cropped" src="assets/img/kd4.PNG" alt="Кристиан Димитров">
              </div>
              <div class="right_title">
                <a href="https://www.facebook.com/kdimitrov12"><i class="med-small fi-social-facebook"></i> Кристиан Димитров</a><br>
                <span class="details">СИ 3 курс</span>
                <span class="details"><i class="med-small fi-mail"></i> kristiandimitrov12@gmail.com
                  <div class="phone">
                    <i class="med-small fi-telephone"></i>
                    +359 884 710 782
                  </div>
                </span>
              </div>
              <div class="description">
                <p>Кристиан Димитров е ебааати пича.</p>
              </div>
            </div>
            <div class="right_news">
              <div class="more_lead_img">
                <img class="center-cropped" src="assets/img/mirs.jpg" alt="Мирослав Стефанов">
              </div>
              <div class="right_title">
                <a href="https://www.facebook.com/miro.stefanov.10"><i class="med-small fi-social-facebook"></i> Мирослав Стефанов</a><br>
                <span class="details">СИ 3 курс</span>
                <span class="details"><i class="med-small fi-mail"></i> mstefanov99@gmail.com
                  <div class="phone">
                    <i class="med-small fi-telephone"></i>
                    +359882746116
                  </div>
                </span>
              </div>
              <div class="description">
                <p>Мирослав Стефанов е ебааати пича.</p>
              </div>
            </div>
            <div class="right_news">
              <div class="more_lead_img">
                <img class="center-cropped" src="assets/img/jores.jpg" alt="Георги Димитров">
              </div>
              <div class="right_title">
                <a href="https://www.facebook.com/profile.php?id=100002611632570"><i class="med-small fi-social-facebook"></i> Георги Димитров</a><br>
                <span class="details">СИ 3 курс</span>
                <span class="details"><i class="med-small fi-mail"></i> gtdimitrov99@gmail.com
                  <div class="phone">
                    <i class="med-small fi-telephone"></i>
                    +359897349644
                  </div>
                </span>
              </div>
              <div class="description"">
                <p>Георги Димитров е ебааати пича.</p>
              </div>
            </div>
          </div>
        </div>

                