        <div id="app-dashboard-sidebar" class="app-dashboard-sidebar position-left off-canvas off-canvas-absolute reveal-for-medium" data-off-canvas>
          <div class="app-dashboard-sidebar-title-area">
            <h3 class="app-dashboard-sidebar-block-title">Филтър</h3>
          </div>
          <div class="app-dashboard-sidebar-inner">
            <div class="menu vertical">
              <label class="container">По тип картоносител
                <input type="radio" checked="checked" name="filter">
                <span class="checkmark"></span>
              </label>
              <label class="container">По образование
                <input type="radio" name="filter">
                <span class="checkmark"></span>
              </label>
              <label class="container">Студенти по специланост
                <input type="radio" name="filter">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
      
        <div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content>
          <h2 class="text-center">Lorem Ipsum</h2>
          <p>ebasi zmqta</p>
          <div id="chart-container">
              <canvas id="graphCanvas"></canvas>
          </div>

          <script>

              const labels = [
                'January',
                'February',
                'March',
                'April',
                'May',
                'June',
              ];
              const data = {
                labels: labels,
                datasets: [{
                  label: 'My First dataset',
                  backgroundColor: 'rgb(255, 99, 132)',
                  borderColor: 'rgb(255, 99, 132)',
                  data: [0, 10, 5, 2, 20, 30, 45],
                }]
              };
              const config = {
                type: 'line',
                data,
                options: {}
              };

              var myChart = new Chart(
              document.getElementById('graphCanvas'),
              config
              );
          </script>
        </div>