<!doctype html>
<html class="no-js" lang="en">
	<head>
	  <meta charset="utf-8" />
	  <meta http-equiv="x-ua-compatible" content="ie=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title>Student Building Monitor</title>
	  <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>
	</head>
	<body>
		<div class="app-dashboard shrink-medium">
      <div class="row expanded app-dashboard-top-nav-bar">
        <div class="columns medium-2">
          <button data-toggle="app-dashboard-sidebar" class="menu-icon hide-for-medium"></button>
          <a href="Index.php" class="app-dashboard-logo">
            <i class="medium fi-monitor"></i>
            Монитор
          </a>
        </div>
        <div class="columns shrink app-dashboard-top-bar-actions">
          <a href="Import.php" height="30" width="30" alt="" class="app-dashboard-logo">
            <i class="medium fi-plus"></i>
            Импорт
          </a>
        </div>
        <div class="columns app-dashboard-top-bar-actions">
          <a href="About.php" height="30" width="30" alt="" class="app-dashboard-logo">
            <i class="medium fi-info"></i>
            За нас
          </a>
        </div>
      </div>
			<div class="app-dashboard-body off-canvas-wrapper">
{{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
{{> body}}
			</div>
		</div>
<script src="{{root}}assets/js/app.js"></script>
	</body>
</html>