.column, .columns {
  flex: auto;
  padding: 20px;
}

.button.primary, .button.primary.disabled, .button.primary[disabled], .button.primary.disabled:hover, .button.primary[disabled]:hover, .button.primary.disabled:focus, .button.primary[disabled]:focus {
  background-color: bisque;
  color: cornflowerblue;
}

.button, .button.disabled, .button[disabled], .button.disabled:hover, .button[disabled]:hover, .button.disabled:focus, .button[disabled]:focus {
  background-color: bisque;
  color: cornflowerblue;
}

.translucent-form-overlay2 {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  background-color: azure;
  color: #417be7;
  margin: auto; }
  .translucent-form-overlay2 .columns.row {
    display: block; }
  .translucent-form-overlay2 h3, .translucent-form-overlay2 label {
    color: cornflowerblue; }
  .translucent-form-overlay2 input, .translucent-form-overlay2 select {
    color: cornflowerblue; }
  .translucent-form-overlay2 input::-webkit-input-placeholder {
    color: cornflowerblue; }
  .translucent-form-overlay2 input::-moz-placeholder {
    color: cornflowerblue; }
  .translucent-form-overlay2 input:-ms-input-placeholder {
    color: cornflowerblue; }
  .translucent-form-overlay2 input::-ms-input-placeholder {
    color: cornflowerblue; }
  .translucent-form-overlay2 input::placeholder {
    color: cornflowerblue; }

.csv-background {
  background: url(../img/csvToDB.jpg) no-repeat center center fixed;
}

.app-dashboard-sidebar {
  background-color: #fefefe;
  height: 100%;
  overflow-x: visible;
  overflow-y: auto;
  z-index: 1;
  padding: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#chart-container {
  width: 100%;
  height: auto;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.heading {
  padding: 8px;
  font-size: 25px;
  font-weight: 700;
  background: #777676;
  margin: 0;
  float: left;
  width: 100%;
  box-sizing: border-box;
  text-transform: uppercase;
}

.right_news {
  width: 100%;
  position: relative;
  float: left;
  margin: 0 2px;
  box-shadow: 0 10px 10px -10px #000;
}

.more_lead_img {
  width: 100%;
  height: 100px;
  float: left;
  background-position: center;
  background-size: cover;
  position: relative;
}

.right_title {
  float: left;
  margin-top: 4px;
  border-top: 1px solid #191919;
  font-weight: 700;
  box-sizing: border-box;
  text-align: left;
  font-size: 13px;
  width: 206px;
  height: 100px;
  padding: 6px;
  color: #fff;
  position: relative;
}

.center-cropped {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.img-icon-facebook {
  width: 20px;
  height: 20px;
  background-position: -46px -334px;
}

.img-site {
  background-image: url(img-site.png?19);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.yel {
  color: #dfc302!important;
}

.about-the-author h3 {
  color: cornflowerblue; }