<!doctype html>
<html class="no-js" lang="en">
	<head>
	  <meta charset="utf-8" />
	  <meta http-equiv="x-ua-compatible" content="ie=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title>Student Building Monitor</title>
	  <link rel="stylesheet" href="assets/css/app.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>
	</head>
	<body>
		<div class="app-dashboard shrink-medium">
      <div class="row expanded app-dashboard-top-nav-bar">
        <div class="columns medium-2">
          <button data-toggle="app-dashboard-sidebar" class="menu-icon hide-for-medium"></button>
          <a href="Index.php" class="app-dashboard-logo">
            <i class="medium fi-monitor"></i>
            Монитор
          </a>
        </div>
        <div class="columns shrink app-dashboard-top-bar-actions">
          <a href="Import.php" height="30" width="30" alt="" class="app-dashboard-logo">
            <i class="medium fi-plus"></i>
            Импорт
          </a>
        </div>
        <div class="columns app-dashboard-top-bar-actions">
          <a href="About.php" height="30" width="30" alt="" class="app-dashboard-logo">
            <i class="medium fi-info"></i>
            За нас
          </a>
        </div>
      </div>
			<div class="app-dashboard-body off-canvas-wrapper">
        <div class="about-the-author">
          <h3 class="heading"><span class="yel">А</span>ВТОРИ</h1>
          <div class="panel">
            <div class="right_news">
              <div class="more_lead_img">
                <img class="center-cropped" src="assets/img/kd4.PNG" alt="Кристиан Димитров">
              </div>
              <div class="right_title">
                <a href="https://www.facebook.com/kdimitrov12"><i class="med-small fi-social-facebook"></i> Кристиан Димитров</a><br>
                <span class="details">СИ 3 курс</span>
                <span class="details"><i class="med-small fi-mail"></i> kristiandimitrov12@gmail.com
                  <div class="phone">
                    <i class="med-small fi-telephone"></i>
                    +359 884 710 782
                  </div>
                </span>
              </div>
              <div class="description">
                <p>Кристиан Димитров е ебааати пича.</p>
              </div>
            </div>
            <div class="right_news">
              <div class="more_lead_img">
                <img class="center-cropped" src="assets/img/mirs.jpg" alt="Мирослав Стефанов">
              </div>
              <div class="right_title">
                <a href="https://www.facebook.com/miro.stefanov.10"><i class="med-small fi-social-facebook"></i> Мирослав Стефанов</a><br>
                <span class="details">СИ 3 курс</span>
                <span class="details"><i class="med-small fi-mail"></i> mstefanov99@gmail.com
                  <div class="phone">
                    <i class="med-small fi-telephone"></i>
                    +359882746116
                  </div>
                </span>
              </div>
              <div class="description">
                <p>Мирослав Стефанов е ебааати пича.</p>
              </div>
            </div>
            <div class="right_news">
              <div class="more_lead_img">
                <img class="center-cropped" src="assets/img/jores.jpg" alt="Георги Димитров">
              </div>
              <div class="right_title">
                <a href="https://www.facebook.com/profile.php?id=100002611632570"><i class="med-small fi-social-facebook"></i> Георги Димитров</a><br>
                <span class="details">СИ 3 курс</span>
                <span class="details"><i class="med-small fi-mail"></i> gtdimitrov99@gmail.com
                  <div class="phone">
                    <i class="med-small fi-telephone"></i>
                    +359897349644
                  </div>
                </span>
              </div>
              <div class="description"">
                <p>Георги Димитров е ебааати пича.</p>
              </div>
            </div>
          </div>
        </div>
			</div>
		</div>
	</body>
</html>