<!doctype html>
<html class="no-js" lang="en">
	<head>
	  <meta charset="utf-8" />
	  <meta http-equiv="x-ua-compatible" content="ie=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title>Student Building Monitor</title>
	  <link rel="stylesheet" href="assets/css/app.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>
	</head>
	<body>
		<div class="app-dashboard shrink-medium">
      <div class="row expanded app-dashboard-top-nav-bar">
        <div class="columns medium-2">
          <button data-toggle="app-dashboard-sidebar" class="menu-icon hide-for-medium"></button>
          <a href="Index.php" class="app-dashboard-logo">
            <i class="medium fi-monitor"></i>
            Монитор
          </a>
        </div>
        <div class="columns shrink app-dashboard-top-bar-actions">
          <a href="Import.php" height="30" width="30" alt="" class="app-dashboard-logo">
            <i class="medium fi-plus"></i>
            Импорт
          </a>
        </div>
        <div class="columns app-dashboard-top-bar-actions">
          <a href="About.php" height="30" width="30" alt="" class="app-dashboard-logo">
            <i class="medium fi-info"></i>
            За нас
          </a>
        </div>
      </div>
			<div class="app-dashboard-body off-canvas-wrapper csv-background">
        <div class="translucent-form-overlay2">
          <p>Тук можете да попълвате данни в базата. За тази цел изберете към коя таблица се отнасят данните и прикачете съответния .csv файл.</p>
          <form method="post" action="Import.php" enctype="multipart/form-data">
            <h3>Импорт на данни</h3>
            <div class="row columns">
              <label>Избор на таблица
                <select name="tableName" type="text" required="true">
                  <option value="CARDHOLDERS">Картоносители</option>
                  <option value="STUDENTS">Студенти</option>
                  <option value="TUTORS">Преподаватели</option>
                  <option value="EMPLOYEES">Служители</option>
                  <option value="COURSES">Курсове</option>
                  <option value="PASSAGES">Преминавания</option>
                  <option value="STUDENTS_TAKING_COURSES">Студенти и курсове</option>
                  <option value="TUTORS_TEACHING_COURSES">Преподаватели и курсове</option>
                </select>
              </label>
              <label for="csvFileUpload" class="button">Избери файл</label>
              <input type="file" id="csvFileUpload" class="show-for-sr" accept=".csv" name="file">
            </div>
            <input type="submit" name="submit" value="Импортирай" class="primary button expanded search-button" />
          </form>
            <a href="Databases.php" class="primary button expanded search-button">Създайте база данни</a>
        </div>
			</div>
		</div>
	</body>
</html>